@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Cormorant.ttf") format("ttf");
  }
  @font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/Mulish.ttf") format("ttf");
  }
}
